<div id="wrapper">
  
  <div id="branding">
    <h1>
      Alpha Blog
    </h1>
  </div>
  
  <div id="navbar">
    <%= link_to 'Home', root_path %> <%= link_to 'About Us', aboutus_path %> <%= link_to 'Articles', articles_path %>
  </div>
  
  <div id="content">
   <h3>
      Articles
    </h3>
    <div id="maincolumn">
      <p>
        Future home of all articles.
      </p>
    </div>
  </div>
  
</div>