<h3 class="sectionheader">
  Articles >> View >> Title: <%= @article.title %>
  <% flash.each do |name, msg| %>
    (<%= msg %>)
  <% end %>
</h3>
<div id="maincolumn">
  <p>
    Description: <br />
    <%= @article.description %>
  </p>
</div>