<h3 class="sectionheader">Home</h3>
<div id="maincolumn">
  <p>
    As every over-lander knows getting trail ready is a top priority. This post will break down the modifications to the Tacoma only. We follow a pretty simple checklist to ensure that we were ready to hit those easy trails that can be done in mostly stock vehicles. The first item on the check list is recovery gear. Over the years we’ve collected many different tools for recovery such as recovery straps, tow straps, come-alongs and various other great recover tools…
  </p>
</div>