*{
  margin: 0;  
}

body {
  background-image: url(3px-tile.png);
  background-color: #111;
}

#wrapper {
  background-color: #dfdce3;
  border: 1px solid #111111;
  width: 1024px;
  margin: 10px auto 0 auto;
}

#branding {
  padding: 25px 0 25px 10px;
  background-color: #f7b733;
}

#navbar{
  padding: 10px 0 10px 0;
  border: 1px solid #111111;
}

#navbar a, a:link, a:active, a:visited{
  padding: 10px 10px 11px 10px;
  color: #111111;
  text-decoration: none;
}

#navbar a:hover{
  padding: 10px 10px 11px 10px;
  color: #d1e8e2;
  background-color: #fc4a1a;
}

#content {
  background-color: #f7b733;
  padding: 10px 10px 10px 10px;
}

#content h3 {
  font-size: 17pt;
  padding-bottom: 10px;
  color: #111111;
  text-decoration: underline;
}

#maincolumn {
  border: 1px solid #111111;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  background-color: #dfdce3;
}

#maincolumn p{
  padding: 15px;
}