$navbar-default-bg: #0f1d04;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default .navbar-nav li a{
  color: #cccccc;
}

.navbar-default .navbar-nav li a:hover{
  color: #ffffff;
  background-color: #081301;
}

/* Sub Menu Using Bootstartp */
.marginBottom-0 {
  margin-bottom:0;
}

.dropdown-submenu {
  position:relative;
}

.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display:block;
}

.dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;}

.dropdown-submenu:hover>a:after {
  border-left-color:#ffffff;
}

.dropdown-submenu.pull-left{
  float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}

.dropdown-menu li a {
  color: #000000 !important;
}

.dropdown-menu li a:hover {
  color: #ffffff !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
  cursor: pointer;
}

img.branding {
  width: 50px;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('bg1.jpg');
  background-size: cover;
  height: 275px;
}

.jumbotron h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron p {
  color: #ffffff;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #0f1d04;
  border: 1px solid #081301;
}

.btn-danger:hover {
  background-color: #493218;
  border: 1px solid #081301;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #eaeaea;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin-right: 3px;
  margin-bottom: 3px;
}

.badge a {
  color: #999999;
}

.input_checkbox input {
  width: auto !important;
}

#footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777777;
}

#footer a {
  color: #081301;
}

#footer a:hover {
  color: #0f1d04;
}

#footer small {
  float: left;
}

#footer ul {
  float: right;
  list-style: none;
}

#footer li {
  float: left;
  margin-left: 15px;
}